* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.navigation{
	width: 100%
	height: 70px;
	background-color: #EC715F;
}
.nav-contents{
	width: 1024px;
	margin: 0 auto;
}
.nav-logo{
	height: 70px;
	float: left;
}
.nav-list{
	float: right;
	line-height: 70px;
}

.nav-list-item{
	font-size: 16px;
	margin:0 30px;
	color: #FAFAFA;
	list-style: none;
	display: inline-block;
}
.main-vidual{
	width: 100%;
	height: 650px;
	color: #FAFAFA;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
}
.main-vidual-contents{
	width: 1024px;
	margin: 0 auto;
	text-align: center;
}
.headline{
	font-size: 64px;
	padding-top: 200px;
}
.sub-headline{
	font-size: 20px;
	padding-top: 10px;
}
.portfolio{
	width: 100%;
	background-color: #ECEFF1;
	padding-bottom: 90px;
}
.portfolio-contents{
	width: 920px;
	margin: 0 auto;
}
.portfolio-headline{
	padding-top: 90px;
	font-size: 32px;
	color: #000000;
	text-align: center;
	position: relative;
}
.portfolio-headline:after {
  	content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 8px auto 0 auto;
    background-color: #EC715F;
}
.portfolio-text{
	font-size: 16px;
	color: #000000;
	text-align: center;
	padding: 30px 0 ;
}
.portfolio-box{
	width: 300px;
	height: 250px;
	float: left;
  	background-size: cover;
  	background-position: center;
}
.portfolio-box:nth-child(1){
	background-image: url(img/sketch.jpg);
	margin-bottom: 10px;
  	margin-right: 10px;
}
.portfolio-box:nth-child(2){
	background-image: url(img/websuku.png);
	margin-bottom: 10px;
  	margin-right: 10px;
}
.portfolio-box:nth-child(3){
	background-image: url(img/write.jpg);
}
.portfolio-box:nth-child(4){
	background-image: url(img/webcamp.png);
	margin-bottom: 10px;
  	margin-right: 10px;
}
.portfolio-box:nth-child(5){
	background-image: url(img/talk.jpg);
	margin-bottom: 10px;
  	margin-right: 10px;
}
.portfolio-box:nth-child(6){
	background-image: url(img/webcamp-mother.png);
}
.feature{
	width: 100%;
	padding-bottom: 90px;
}
.feature-contents{
	width: 1024px;
	margin: 0 auto;
}
.feature-headline{
	padding-top: 90px;
	font-size: 32px;
	color: #000000;
	text-align: center;
	position: relative;
}
.feature-headline:after {
  	content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 8px auto 0 auto;
    background-color: #EC715F;
}
.feature-text{
	font-size: 16px;
	color: #000000;
	text-align: center;
	padding: 30px 0 ;
}
.feature-box{
	width: 320px;
	margin: 0 auto;
	float: left;
	display: inline-block;
	text-align: center;
}
.feature-box:nth-child(2){
	margin:  0 20px;
}
.icon{
	font-size: 60px;
	text-align: center;
}
.icon-title{
	font-size: 20px;
	color: #000000;
	padding: 10px 0;
	text-align: center;
}
.icon-text{
	font-size: 16px;
	color: #000000;
	text-align: left;
}
.profile{
	width: 100%;
	padding-bottom: 90px;
	background-color: #ECEFF1;
}
.profile-contents{
	width: 1024px;
	margin: 0 auto;
}
.profile-headline{
	padding-top: 90px;
	font-size: 32px;
	color: #000000;
	text-align: center;
	position: relative;
}
.profile-headline:after {
  	content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 8px auto 0 auto;
    background-color: #EC715F;
}
.profile-text{
	font-size: 16px;
	color: #000000;
	text-align: center;
	padding: 30px 0 ;
}
.profile-contents-box{
	display: inline-block;
}
.profile-img-box{
	width: 512px;
	margin: 0 auto;
	float: left;
	text-align: center;
}
.profile-img{
	border-radius: 50%;
}
.profile-box{
	width: 512px;
	float: left;
}
.profile-box-title{
	font-size: 20px;
}
.profile-box-title2{
	font-size: 20px;
	padding-top: 20px;
}
.profile-box-text{
	font-size: 16px;
	color: #000000;
	padding-top: 5px;
}
.contact{
	width: 100%;
	padding-bottom: 90px;
	background-color: #ECEFF1;
}
.contact-contents{
	width: 800px;
	margin: 0 auto;
}
.contact-headline{
	padding-top: 90px;
	font-size: 32px;
	color: #000000;
	text-align: center;
	position: relative;
}
.contact-headline:after {
  	content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 8px auto 0 auto;
    background-color: #EC715F;
}
.contact-text{
	font-size: 16px;
	color: #000000;
	text-align: center;
	padding: 30px 0 ;
}
.contact-contents-box{
	display: inline-block;
}
.left-contact-box{
	width: 400px;
	float: left;
}
.left-contents{
	width: 130px;
	margin: 0 auto;
}
.right-contact-box{
	width: 400px;
	float: left;
}
.right-contents{
	width: 180px;
	margin: 0 auto;
}
.mail, .tell{
	font-size: 20px;
}
.address{
	padding: 5px 0 20px 0;
}
.number{
	padding-top: 5px;
}
.sns{
	font-size: 20px;
	padding-bottom: 5px;
}
.icon-contact{
	font-size: 50px;
}
.fa-twitter{
	margin: 0 20px;
}
footer{
	width: 100%;
	height: 60px;
	background-color: #EC715F;
	line-height: 60px;
}
.footer-text{
	font-size: 16px;
	color: #FAFAFA;
	text-align: center;
}

@media screen and (max-width:425px){
.navigation{
	width: 100%;
	height: 50px;
}
.nav-contents{
	width: 100%;
	margin: 0 auto;
}
.nav-logo{
	height: 50px;
	float: none;
}
.nav-list{
	display: none;
}
.menu-box {
    float: right;
    width: 40px;
    height: 40px;
    margin-right: 5%;
    border: 1px solid #FAFAFA;
    margin-top: 5px;
}
.list-bar:first-child {
    margin-top: 10px;
}
.list-bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #FAFAFA;
}

.main-vidual{
	width: 100%;
	background-image: url(img/code.png);
}
.main-vidual-contents{
	width: 100%;
}
.headline{
	font-size: 40px;
	padding-top: 200px;
}
.sub-headline{
	font-size: 18px;
}
.portfolio-contents{
	width: 100%;
}
.portfolio-contents-box{
	width: 300px;
	margin: 0 auto;
}
.portfolio-box{
	float: none;
}
.portfolio-box:nth-child(1){
	display: none;
}
.portfolio-box:nth-child(3){
	display: none;
}
.portfolio-box:nth-child(5){
	display: none;
}

.feature-contents{
	width: 100%;
}
.feature-box{
	float: none;
	display: block;
}
.feature-box:nth-child(2){
	margin:  10px 25px;
}
.profile-contents{
	width: 100%;
}
.profile-contents-box{
	display: block;
}
.profile-img-box{
	width: 100%;
	float: none;
}
.profile-box{
	width: 100%;
	float: none;
}
.profile-box-title{
	padding-top: 20px;
	text-align: center;
}
.profile-box-text{
	text-align: center;
}
.profile-box-title2{
	text-align: center;
}
.contact{
	background-color: white;
}
.contact-contents{
	width: 100%;
}
.contact-contents-box{
	width: 100%;
	text-align: center;
}
.left-contact-box{
	width: 100%;
	float: none;
}
.left-contents{
	width: 100%;
}
.right-contact-box{
	width: 100%;
	float: none;
}
.right-contents{
	width: 100%;
}
.mail{
	padding-top: 30px;
}
.fa-twitter{
	margin: 0 8px;
}

}