* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.list-contents{
	width: 960px;
	margin: 0 auto;
	padding: 50px 0;
}

p{
	padding: 20px 0 20px 20px;
}
p:nth-child(odd){
	background-color: #acabab;
}